body {
    margin: 0%;
}

h1 {
    text-align: center;
    background-color: lightslategray;
    margin-top: 0%;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.result {
    margin: 1rem;
    padding 1rem;
    max-width: 300px;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 5px;
    order: 3;
}