

h3 {
    text-align: center;
    max-width: 960px;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 960px;

}

.result {
    margin: 1rem;
    padding 1rem;
    max-width: 300px;
    border: 1px solid gray;
    border-radius: 1rem;
    flex-grow: 4;
}